<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <link rel="stylesheet" type="text/css" href="/css/style.css">
            <title>My Songs Profile</title>
        </head>
        <body>
            <h1>Remove a User's Profile</h1>
            <form method="post" action="/remove">
                Username: <input type="text" id="user" name="user" class=form_text placeholder="Username"><br>
                Key: <input type="text" id="key" name="key" class=form_text placeholder="Key"><br>
                <input type="submit" class="submitButton">
            </form><br><br>
            <a href="/">HOME</a>
        </body>