<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <link rel="stylesheet" type="text/css" href="/css/style.css">
            <title>My Songs Profile</title>
        </head>
        <body>
        <div id="background">
            <div class="header">
                <h1>Top Song Profiles</h1>
            </div>
            <p>Put your top songs and add your profile or explore others profiles</p>
            
            <form method="post" action="/index">
                <label>Search by User:</label> <input type="text" class=form_text id="user" name="user"><br>
                <input type="submit" class="submitButton" value="Search">
            </form><br><br>
            <a class="link_button" href="/addProfile">Add Song Profile</a><br><br>
            <a class="link_button" href="/remove">Remove a Profile</a>
        </div>
        </body>
    
    
    
    </html>
