<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <link rel="stylesheet" type="text/css" href="/css/style.css">
            <title>Song Profile</title>
        </head>
        <body>
            <div id="centered">
                <%- table %>
            </div>
            <a href="/">HOME</a>
        </body>