<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <link rel="stylesheet" type="text/css" href="/css/style.css">
            <title>Add Profile</title>
        </head>
        <body>
            <h1 class=error>User does not exist or Key is incorrect</h1>
            <h2 class=error>try again with another user or another key</h2>
            <a href="/">HOME</a>
        </body>